<div id="employer" class="main">
    <Menu
        class="left-menu"
        active-name="1">
        <MenuItem name="1">
            <Icon type="document-text"></Icon>
            合约信息
        </MenuItem>
        <MenuItem name="2">
            <Icon type="person-stalker"></Icon>
            员工信息
        </MenuItem>
    </Menu>
    <div class="right-info">
        <Card
            class="card"
            v-for="item in info"
            :key="item.id">
            <p slot="title">{{item.name}}</p>
            <p>
                {{item.value}}
                <Button
                    type="primary"
                    size="small"
                    class="fr"
                    v-if="item.isAddFund"
                    @click="addFund">增加余额</Button>
            </p>
        </Card>
    </div>
</div>
